# Entorno virtual
.venv/

# Archivos Media base de datos
media/

# Archivos y directorios Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Archivos de configuración de IDEs
.vscode/
.idea/

# Archivos y directorios de logs
*.log
logs/

# Archivos y directorios de migraciones
*app/core/migrations/
*app/purcharse/migrations/
*app/sales/migrations/
*app/security/migrations/
*/migrations/
*/migrations/__pycache__/