{% extends 'components/base.html' %}
{% load static %}

{% block content %}
<title>{% block title %} {{ title1 }} {% endblock title %}</title>

<section class="dark:bg-principal"><br>
    <div class="text-center" data-aos="fade" data-aos-delay="200">
        <div class="sm:pt-28 lg:pt-4 mt-10">
            <div class="flex flex-col items-center justify-center">
                <span class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">
                    {{ title1 }}
                </span>
            </div>
            <h1 class="dark:text-white text-4xl text-center mt-6 font-Pacifico">
                {{ title2 }}
            </h1>
        </div>
    </div>
    
    <!-- Columna de la izquierda -->
    <form method="post" enctype="multipart/form-data" class="space-y-6 py-4">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mx-4 lg:mx-20" data-aos="fade">
        <div class="p-4 rounded-3xl dark:bg-secundario bg-white">
                {% csrf_token %}
                {{ form.media }}

                <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
                    <div>
                        <label for="{{ form.supplier.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.supplier.label }}</label>
                        {{ form.supplier }}
                    </div>
                    <div>
                        <label for="{{ form.num_document.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.num_document.label }}</label>
                        {{ form.num_document }}
                    </div>
                    <div>
                        <label for="{{ form.issue_date.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.issue_date.label }}</label>
                        {{ form.issue_date }}
                    </div>
                </div>

                <div class="mb-6">
                    <label class="dark:text-blue-300 font-black uppercase text-lg">Búsqueda de productos:</label>
                    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 mb-6">
                        <select id="product" name="product" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                            {% for prod in products %}
                                <option data-id="{{prod.id}}" data-des="{{prod.description}}" data-price="{{prod.cost}}" data-stock="{{prod.stock}}" data-iva="{{prod.iva__value}}" value="{{prod.id}}" {% if forloop.first %}selected{% endif %}>{{prod.description}}</option>
                            {% endfor %} 
                        </select>
                        <input id="price" name="price" type="text" placeholder="Precio" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                        <input id="quantify" name="quantify" type="number" placeholder="Cantidad" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                        <div class="flex items-center justify-between">
                            <button id="btnSave" type="submit" class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-0 md:mr-2 mb-2 md:mb-0 flex items-center">
                                Añadir Porducto
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Columna de la derecha -->
        <div class="p-4 rounded-3xl dark:bg-secundario bg-white">
            <div class="overflow-x-auto mb-6">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Código</th>
                            <th scope="col" class="px-6 py-3">Producto</th>
                            <th scope="col" class="px-6 pypx-6 py-3">Cantidad</th>
                            <th scope="col" class="px-6 pypx-6 py-3">Total</th>
                            <th scope="col" class="px-6 pypx-6 py-3">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="detalle">
                        
                    </tbody>
                </table>
            </div>
            
            <div class="grid grid-cols-2 gap-4 mb-6">
                <div>
                    <label for="{{ form.subtotal.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.subtotal.label }}</label>
                    {{ form.subtotal }}
                </div>
                <div>
                    <label for="{{ form.iva.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.iva.label }}</label>
                    {{ form.iva }}
                </div>
                <div>
                    <label for="{{ form.total.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.total.label }}</label>
                    {{ form.total }}
                </div>
                <div>
                    <label for="{{ form.state.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.state.label }}</label>
                    {{ form.state }}
                </div>
            </div>
            
            <div class="flex items-center justify-between">
                <button id="btnSave" type="submit" class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-0 md:mr-2 mb-2 md:mb-0 flex items-center">
                    Registrar Carrito
                </button>
            </div>
        </div>

        <a class="bg-blue-700 hover:bg-blue-800 text-white py-1 px-2 rounded-full flex items-center justify-center text-sm w-24" href="{% url 'purcharse:purchase_list' %}">
            <i class="fa-solid fa-house"></i>
        </a>

    </div>
</section>

<script>
    var save_url = "{{ save_url }}";
    var detail_purchases = JSON.parse("{{ detail_purchases|escapejs }}");
</script>
<script src="{% static 'js/invoices/purchase.js' %}"></script>
{% endblock %}
