{% extends 'components/base.html' %}
{% load static %}
{% block content %}

<title>{% block title %} {{ title1 }} {% endblock title %}</title>

<section class="dark:bg-principal">
    <div class="text-center" data-aos="fade-up" data-aos-delay="200">
        <div class="sm:pt-28 lg:pt-24">
            <div class="flex flex-col items-center justify-center">
                <span class="rounded-full bg-indigo-500 px-2 py-1 text-white uppercase text-sm">
                    {{ title1 }}
                </span>
            </div>
            <h1 class="dark:text-white text-4xl text-center mt-6 font-Pacifico">
                {{ title2 }}
            </h1>
            <p class="dark:text-gray-400 text-center mt-6 text-lg font-light">
                Gestione su Empresa.
            </p>
        </div>

        <div class="m-4 lg:m-8 sm:mx-40 sm:my-2 lg:grid lg:grid-cols-4 gap-8 lg:mx-20 lg:p-4 rounded-3xl" data-aos="fade-up" data-aos-delay="200">
            {% for company in companies %}  
                <div class="mb-4 flex justify-center custom-transform">
                    <div class="dark:bg-secundario relative w-full overflow-hidden rounded-lg border border-gray-100 bg-white shadow-md dark:border-none">
                        <div class="dark:bg-secundario text-center card card-custom">
                            {% if company.logo %}
                                <figure class="px-10 pt-10">
                                    <img src="{{ company.logo.url }}" alt="Logo de la empresa" class="rounded-xl w-full">
                                </figure>
                            {% else %}
                                <figure class="px-10 pt-10">
                                    <img src="{% static 'img/default_company.png' %}" alt="Imagen por defecto" class="rounded-xl w-full">
                                </figure>
                            {% endif %}
                            
                            <h1 class="dark:text-blue-400 text-2xl text-center mt-6 font-black uppercase font-Tiny5">
                                {{ company.name }}
                            </h1>
                            <div class="dark:bg-contenedores p-4 card-body flex flex-col justify-center items-center">
                                <h3 class="dark:text-blue-300 font-Pacifico">RUC: <span class="font-light font-Quicksand dark:text-gray-400">{{ company.dni }}</span></h3>
                                <h3 class="dark:text-blue-300 font-Pacifico">Correo: <span class="font-light font-Quicksand dark:text-gray-400">{{ company.email }}</span></h3>
                                <h3 class="dark:text-blue-300 font-Pacifico">Teléfono: <span class="font-light font-Quicksand dark:text-gray-400">{{ company.landline }}</span></h3>
                                <h3 class="dark:text-blue-300 font-Pacifico">Dirección: <span class="font-light font-Quicksand dark:text-gray-400">{{ company.address }}</span></h3>

                                {# Campos adicionales del modelo Company #}
                                <h3 class="dark:text-blue-300 font-Pacifico">Representante: <span class="font-light font-Quicksand dark:text-gray-400">{{ company.representative }}</span></h3>
                                <h3 class="dark:text-blue-300 font-Pacifico">Sitio Web: <span class="font-light font-Quicksand dark:text-gray-400">{{ company.website }}</span></h3>
                                <h3 class="dark:text-blue-300 font-Pacifico">Código de Establecimiento: <span class="font-light font-Quicksand dark:text-gray-400">{{ company.establishment_code }}</span></h3>
                                <h3 class="dark:text-blue-300 font-Pacifico">Código de Punto de Emisión: <span class="font-light font-Quicksand dark:text-gray-400">{{ company.emission_point_code }}</span></h3>
                                <h3 class="dark:text-blue-300 font-Pacifico">Número de Autorización: <span class="font-light font-Quicksand dark:text-gray-400">{{ company.authorization_number }}</span></h3>
                                <h3 class="dark:text-blue-300 font-Pacifico">Tipo de Contribuyente: <span class="font-light font-Quicksand dark:text-gray-400">{{ company.taxpayer_type }}</span></h3>
                                <h3 class="dark:text-blue-300 font-Pacifico">Obligado a Llevar Contabilidad: <span class="font-light font-Quicksand dark:text-gray-400">{% if company.required_to_keep_accounting %}Sí{% else %}No{% endif %}</span></h3>
                                <h3 class="dark:text-blue-300 font-Pacifico">Código de Actividad Económica: <span class="font-light font-Quicksand dark:text-gray-400">{{ company.economic_activity_code }}</span></h3>

                                <h3 class="dark:text-blue-300 font-Pacifico">Estado:
                                    {% if company.active %}
                                        <i class="fa-solid fa-check text-green-500"></i>
                                    {% else %}
                                        <i class="fa-solid fa-square-minus text-red-500"></i>
                                    {% endif %}
                                </h3>
                            </div>

                            <div class="dark:bg-contenedores card-footer flex flex-col md:flex-row justify-center items-center">
                                <a href="{% url 'core:company_update' company.id %}" class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-0 md:mr-2 mb-2 md:mb-0 flex items-center">
                                    <i class="fa-solid fa-gear mr-2"></i> Editar
                                </a>
                                <button class="bg-red-700 hover:bg-red-800 text-white py-2 px-4 rounded-full flex items-center" onclick="openDeleteModal('{{ company.id }}', '{{ company.name }}')">
                                    <i class="fa-solid fa-trash mr-2"></i> Eliminar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="flex flex-col md:flex-row justify-center form-group text-center p-4">
            <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full mr-0 md:mr-2 mb-2 md:mb-0 flex items-center justify-center" href="{% url 'core:company_create' %}">
                <i class="fa-solid fa-plus mr-2"></i> Nueva Empresa
            </a>
            <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full flex items-center justify-center" href="{% url 'home' %}">
                <i class="fa-solid fa-house"></i>
            </a>
        </div>
    </div>
</section>

{% include 'core/delete.html' %}
<script>
    function openDeleteModal(id, name) {
        const deleteForm = document.getElementById('deleteForm');
        deleteForm.action = `{% url 'core:company_delete' 0 %}`.replace('0', id);
        document.getElementById('Description').textContent = `ID: ${id} - ${name}`;
        document.getElementById('deleteModal').classList.remove('hidden');
    }

    function closeModal() {
        document.getElementById('deleteModal').classList.add('hidden');
    }
</script> 
{% endblock %}
