{% extends 'components/base.html' %}
{% block content %}
{% load static %}
<title>{% block title %}Registrar Venta{% endblock title %}</title>
<section class="dark:bg-principal p-8 mt-10">
    <div class="max-w-7xl mx-auto bg-white dark:bg-secundario shadow-lg rounded-lg overflow-hidden">
        <div class="p-6 border-b border-gray-200 dark:border-gray-700">
            <h1 class="dark:text-white text-3xl font-bold">Nuevo registro de una Venta</h1>
        </div>
        
        <form id="frmSale" method="POST" class="p-6">
            {% csrf_token %}
            {{ form.media }}
            
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
                <div>
                    <label for="{{ form.customer.id_for_label }}" class="block dark:text-blue-300 text-sm font-bold mb-2">{{ form.customer.label }}</label>
                    {{ form.customer }}
                </div>
                <div>
                    <label for="{{ form.issue_date.id_for_label }}" class="block dark:text-blue-300 text-sm font-bold mb-2">{{ form.issue_date.label }}</label>
                    {{ form.issue_date }}
                </div>
                <div>
                    <label for="{{ form.payment_method.id_for_label }}" class="block dark:text-blue-300 text-sm font-bold mb-2">{{ form.payment_method.label }}</label>
                    {{ form.payment_method }}
                </div>
            </div>
            
            <div class="mb-6">
                <label class="block dark:text-blue-300 text-sm font-bold mb-2">Búsqueda de productos:</label>
                <div class="flex items-center space-x-2">
                    <select id="product" name="product" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                        {% for prod in products %}
                            <option data-id="{{prod.id}}" data-des="{{prod.description}}" data-price="{{prod.price}}" data-stock="{{prod.stock}}" data-iva="{{prod.iva__value}}" value="{{prod.id}}" {% if forloop.first %}selected{% endif %}>{{prod.description}}</option>
                        {% endfor %}
                    </select>
                    <div>
                    <input id="price" name="price" type="text" placeholder="Precio" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                    </div>
                    <div>
                    <input id="quantify" name="quantify" type="number" placeholder="Cantidad" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 pr-12 dark:bg-principal dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
                    </div>
                    <button id="btnAdd" type="button" class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full flex items-center justify-center text-sm transition duration-200">
                        <i class="fas fa-plus mr-2"></i> Agregar
                    </button>
                </div>
            </div>

            <div class="overflow-x-auto mb-6">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">Código</th>
                            <th scope="col" class="px-6 py-3">Producto</th>
                            <th scope="col" class="px-6 py-3">Precio</th>
                            <th scope="col" class="px-6 py-3">Cantidad</th>
                            <th scope="col" class="px-6 py-3">Iva</th>
                            <th scope="col" class="px-6 py-3">Total</th>
                            <th scope="col" class="px-6 py-3">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="detalle" class="divide-y divide-gray-200 dark:divide-gray-700">
                        <!-- Los detalles de la venta se insertarán aquí dinámicamente -->
                    </tbody>
                </table>
            </div>

            <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-6">
                <div>
                    <label for="{{ form.subtotal.id_for_label }}" class="block dark:text-blue-300 text-sm font-bold mb-2">{{ form.subtotal.label }}</label>
                    {{ form.subtotal }}
                </div>
                <div>
                    <label for="{{ form.discount.id_for_label }}" class="block dark:text-blue-300 text-sm font-bold mb-2">{{ form.discount.label }}</label>
                    {{ form.discount }}
                </div>
                <div>
                    <label for="{{ form.iva.id_for_label }}" class="block dark:text-blue-300 text-sm font-bold mb-2">{{ form.iva.label }}</label>
                    {{ form.iva }}
                </div>
                <div>
                    <label for="{{ form.total.id_for_label }}" class="block dark:text-blue-300 text-sm font-bold mb-2">{{ form.total.label }}</label>
                    {{ form.total }}
                </div>
                <div>
                    <label for="{{ form.payment.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.payment.label }}</label>
                    {{ form.payment }} 
                </div>
                <div>
                    <label for="{{ form.change.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.change.label }}</label>
                    {{ form.change }}
                </div>
                <div>
                    <label for="{{ form.state.id_for_label }}" class="dark:text-blue-300 font-black uppercase text-lg">{{ form.state.label }}</label>
                    {{ form.state }}
                </div>
            </div>

            <div class="flex items-center justify-between">
                <button id="btnSave" type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-6 rounded focus:outline-none focus:shadow-outline transition duration-200">
                    <i class="fas fa-save mr-2"></i> Registrar Venta
                </button>
                <a class="bg-blue-700 hover:bg-blue-800 text-white py-2 px-4 rounded-full flex items-center justify-center text-sm transition duration-200"
                    href="{% url 'sales:sales_list' %}">
                    <i class="fa-solid fa-house mr-2"></i> Volver al inicio
                </a>
            </div>
        </form>
    </div>
</section>

<script>
    var save_url = "{{save_url}}";
    var detail_sales = JSON.parse("{{ detail_sales|escapejs }}");
</script>
<script src="{% static 'js/invoices/sales.js' %}"></script>
{% endblock %}